{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}

{% block table %}
    <table id="id_list_table" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">To-Do</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list.item_set.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ item.text }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
